<%-include ../partials/header.ejs%> <%-include ../partials/navbar.ejs%>


<section id="editbusinesscontact" class="register">
    <div class="container">
        <form method="POST" autocomplete="off">
            <h2>Update Busdiness Contact</h2>
            <label for="name"><b>Contact Name</b></label>
            <input type="text" placeholder="Enter Contact Name" name="contactname" value="<%=businessContact.name%>"required />

            <label for="mobilenumber"><b>Contact Number</b></label>
            <input type="number" placeholder="Enter Contact Number " name="mobilenumber" value="<%=businessContact.number%>" required />
            
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="contactemail" value="<%=businessContact.email%>" required />
            
            <button type="submit" class="registerbtn">Update</button>
            <button href="/businessContactList" class="cancelbtn">Cancel</button>

        </form>
    </div>
</section>