<%-include partials/header.ejs%>
<%-include partials/navbar.ejs%>
  <!--Main nav Navigation-->
  
<main class="container-fluid">
  <div class="jumbotron">
    <marquee behavior="" direction=""><p class="display-6 text-dark">Welcome to My Site...! You Think, I Will Do</p></marquee>
  </div>
<main>

    
  <!--<h1><%= title %></h1>-->
  <!--<p>Welcome to the <%= title %> Page</p>-->
  <!--Script section-->
  <%-include partials/bottom_navbar.ejs%>
  <%-include partials/footer.ejs%>




